<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.test.dao.BorrowDao">
<select id="getBorrow" parameterType="String" resultType="com.test.entity.Borrow">
		select * from borrow where status="1"
</select>
<select id="getsBorrow" parameterType="String" resultType="com.test.entity.Borrow">
		select * from borrow where name=#{name} and status="1"
</select>
<select id="findBorrow" parameterType="String" resultType="com.test.entity.Borrow">
		select * from borrow where  bookname like concat('%',#{bookname},'%') and status='1'
</select>
<select id="findsBorrow" parameterType="String" resultType="com.test.entity.Borrow">
		select * from borrow where  bookname like concat('%',#{bookname},'%')and name=#{name} and status='1'
</select>
<select id="getRecordNum"  resultType="int">
		select count(*) from borrow where status="1"
</select>
<select id="getCurrPageBorrow" parameterType="map" resultType="com.test.entity.Borrow">
		select * from borrow where  status ='1'limit #{currIndex},#{pageSize}
</select>

<insert id="insertBorrow" parameterType="com.test.entity.Borrow" useGeneratedKeys="true">
		insert into borrow(bookname,author,press,studynumb,name,borrowtime,status) VALUES (#{bookname},#{author},#{press},#{studynumb},#{name},#{borrowtime},"1")
</insert>
<update id="returnBook" parameterType="com.test.entity.Borrow">
        update borrow set returntime=#{returntime} where Id=#{id}
</update>

</mapper>